.venv
.idea

Laboratory-Work-2-Frequency-Analysis/client-frequency-analysis/node_modules
Laboratory-Work-2-Frequency-Analysis/results
Laboratory-Work-2-Frequency-Analysis/character_counts.json
Laboratory-Work-2-Frequency-Analysis/flask-api/__pycache__
Laboratory-Work-2-Frequency-Analysis/flask-api/Data_Plot.py
