.venv
.idea

Laboratory_Work_2_Frequency_Analysis/client-frequency-analysis/node_modules
Laboratory_Work_2_Frequency_Analysis/results
Laboratory_Work_2_Frequency_Analysis/character_counts.json
Laboratory_Work_2_Frequency_Analysis/flask-api/__pycache__
Laboratory_Work_2_Frequency_Analysis/flask-api/Data_Plot.py
Laboratory_Work_3_Polyalphabetic_Ciphers/flask_api/__pycache__